<div class="container-sm d-flex justify-content-center align-items-center flex-grow-1 px-4 my-4">
    <main class="col col-sm-9 col-lg-6 mx-1">

        <!-- ERROR MESSAGE -->
        <% if (errorMessage) { %>
            <p class="errorMessage rounded fs-6 fw-1 text-center text-danger py-1 ">
                <%= errorMessage %>
            </p>
        <% } %>

        <p class="title mb-4 fs-1"><i class="bi bi-<%= role === 'update' ? 'pen' : 'sticky'%>"></i> <%= role === "update" ? "Modifier" : "Créer" %> une note</p>

        <!-- FORM -->
        <form class="d-flex flex-column gap-3" action="/tableau-de-bord/<%= role === 'create' ? 'submitNewNote' : 'submitUpdatedNote'%>" method="POST">
            <!-- NOTE TOKEN -->
            <% if (role === 'update') { %>
                <input type="hidden" name="token" value="<%= noteToken %>">
            <% } %>
            <!-- TITLE -->
            <input class="rounded py-2 px-2" type="text" name="noteTitle" id="noteTitle" placeholder="Il était une fois un titre ..." value="<%= savedTitle || null %>" autofocus required>

            <!-- NOTE CONTENT -->
            <textarea class="rounded py-2 px-2" name="noteContent" id="noteContent"  rows="10" placeholder="Votre note ici ..."  required ><%= savedContent || null %></textarea>


            <button class="btn btn-primary btn-lg" type="submit"><%= role === "create" ? "Nouvelle note" : "Enregistrer les modifications" %></button>
            <button class="btn btn-secondary btn-lg" type="button" onclick="window.history.back()">Annuler</button>

        </form>
        

    </main>
</div>
