
<div class="d-flex justify-content-center align-items-center flex-grow-1  my-4">
    <main class="col text-center">

        <h2>MON PROFIL</h2>

        <!-- ERROR & SUCCESS MESSAGES -->
        <div class="mx-auto mt-2 col-10 col-sm-6">
            <!-- ERROR MESSAGE -->
            <p class="errorMessage text-danger text-center rounded px-3">
                <%= errorMessage %>
            </p>
            <!-- SUCCESS MESSAGE -->
            <p class="successMessage text-success text-center rounded px-3">
                <%= successMessage %>
            </p>
        </div>


        <!-- PRINCIPAL FORM -->
        <form class="principal-form mx-auto mt-5" action="/profil/update" method="POST" enctype="multipart/form-data" onsubmit="displayLoader()">
            <div class="border border-2 border-opacity-75 rounded p-3 mx-4">

                <p>Méthode de connexion :
                    <% if (locals.user.authentification_method === 'local') { %>
                        <i class="bi bi-envelope" title="méthode de connexion email et mot de passe"></i>
                        <i class="bi bi-key"></i>
                    <% } else if  (locals.user.authentification_method === 'google') {%>
                        <i class="bi bi-google" title="méthode de connexion google"></i>
                    <% } else { %>
                        <i class="bi bi-facebook" title="méthode de connexion facebook"></i>
                    <% } %>
                </p>

                <!-- PROFILE IMG -->
                <div class="position-relative border rounded py-4 px-3 mb-3">
                        <!-- input -->
                        <img class="col-4 col-sm-2 rounded-circle mb-3" src="<%= locals.user.profile_img %>" alt="votre image de profil">
                            <input class="form-control form-control-sm mb-3" type="file" id="profile_img" name="profile_img">
                        <!-- submit button -->
                        <button class="btn btn-outline-primary btn-md" type="submit" name="action" value="profileImage">Changer la photo de profil</button>
                </div>

                <!-- DISPLAY NAME -->
                <div class="position-relative d-flex justify-content-center align-items-center flex-wrap gap-2 border rounded py-4 px-3 mb-3">

                    <!-- FIRSTNAME -->
                    <div class="form-floating flex-fill ">
                        <!-- input -->
                        <input type="text" class="form-control pt-2 pb-0 mb-2" name="firstName" id="firstName" value="<%= locals.user.firstName %>" autocomplete="off">
                        <!-- label -->
                        <label for="firstName">Prénom</label>
                    </div>

                    <!-- LASTNAME -->
                    <div class="form-floating flex-fill">
                        <!-- input -->
                        <input type="text" class="form-control pt-2 pb-0 mb-2" name="lastName" id="lastName" value="<%= locals.user.lastName %>" autocomplete="off">
                        <!-- label -->
                        <label for="lastName">Nom :</label>
                    </div> 

                </div>

                <!-- EMAIL -->
                <div class="<%= locals.user.authentification_method === 'local' ? null : 'updateTooltip' %> position-relative border rounded py-4 px-3 mb-3"
                     data-text="Seul les comptes Email & Mot de passe peuvent modifier leur adress mail.">
                    <fieldset class="w-100" <%= locals.user.authentification_method === 'local' ? null : 'disabled'%> >
                        <div class="form-floating flex-fill">
                            <!-- input -->
                            <input type="email" class="form-control pt-2 pb-0" name="email" id="email" value="<%= locals.user.email %>" autocomplete="off">
                            <!-- label -->
                            <label for="email">E-mail :</label>
                        </div>
                    </fieldset>
                    
                </div>

                <!-- PASSWORD -->
                <div class="<%= locals.user.authentification_method === 'local' ? null : 'updateTooltip' %>  position-relative border rounded py-4 px-3"
                data-text="Seul les comptes Email & Mot de passe peuvent modifier leur mot de passe.">
                    <fieldset class="w-100 h-100" <%= locals.user.authentification_method === 'local' ? null : 'disabled'%> >
                            
                            <!-- OLD PASSWORD -->
                            <div class="form-floating flex-fill mb-3">
                                <!-- input -->
                                <!-- autocomplete="new-password" fake fields are a workaround for chrome autofill getting the wrong fields -->
                                <input type="password" class="form-control pt-2 pb-0 mb-2" name="password" id="password"  autocomplete="new-password"/>
                                <!-- labek -->
                                <label for="password">Ancien mot de passe :</label>
                            </div>
            
                            <p class="errorMessage passwordMatchErrorMessage position-relative text-danger rounded mb-2"></p>
                            
                            <!-- PASSWORD CHANGEMENT -->
                            <div class="d-flex justify-content-center align-items-start flex-wrap gap-2 mb-4">
                                <!-- NEW PASSWORD -->
                                <div class="w-50 flex-fill d-flex flex-column">
                                    <div class="form-floating flex-fill ">
                                        <!-- input -->
                                        <input type="password" class="form-control pt-2 pb-0 mb-2" name="newPassword" id="newPassword" autocomplete="new-password" onkeyup="passwordCheck('newPassword','newPasswordConfirmation')">
                                        <!-- labek -->
                                        <label for="newPassword">Nouveau mot de passe :</label>
                                    </div>
                                    <!-- security check -->
                                    <p id="passwordValidationString" class="flex-fill text-break fst-italic text-center text-muted mx-2 mb-0 ">
                                        <span id="charsNumberRegexValid">8 à 25 caractères</span>|
                                        <span id="lowercaseRegexValid"> 1 minuscule </span>|
                                        <span id="uppercaseRegexValid"> 1 majuscule</span>|
                                        <span id="specialCharsRegexValid"> 1 symbole @$!%*._?-&# </span>|
                                        <span id="numberRegexValid">1 chiffre</span>
                                    </p>
                                </div>
                                <!-- CONFIRMATION NEW PASSWORD -->
                                <div class="form-floating flex-fill">
                                    <!-- input -->
                                    <input type="password" class="form-control pt-2 pb-0 mb-2" name="newPasswordConfirmation" id="newPasswordConfirmation" autocomplete="new-password" onkeyup="passwordCheck('newPassword','newPasswordConfirmation')">
                                    <!-- labek -->
                                    <label for="newPasswordConfirmation">Confirmation du nouveau mot de passe :</label>
                                </div>
            
                            </div>
                            

            
                            <button class="btn btn-outline-primary btn-md" name="action" value="profilePassword" type="submit">Changer de mot de passe</button>
                    </fieldset>
                </div>

                <!-- SUBMIT THE WHOLE FORM -->
                <button  class="btn btn-primary btn-md mt-5" type="submit" name="action" value="profile" >Enregistrer les changements</button>

            </div>
        </form>


        <!-- LOG OUT -->
        <form action="/connexion/logout" method="POST">
            <button class="btn btn-outline-primary btn-md mt-5"  type="submit">se déconnecter</button>
        </form>

        

    </main>
</div>

<!-- LOADER -->
<div class="d-none position-absolute w-100 h-100" id="loader" aria-hidden="true" data-bs-backdrop="static">
<div  class="h-100 d-flex justify-content-center align-items-center text-center">
    <p class="text-light me-3 mb-0">Chargement des changements ...</p>
    <div class="spinner-grow text-light" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

</div>
<script src="/javascript/passwordCheck.js"></script>
<script src="/javascript/loader.js"></script>